.list-categories {
    width: 100%;
    box-sizing: border-box;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}

.list-categories__category {
    font-weight: var(--font-peso-categories);
    background-color: var(--color-contrast-light);
    border-radius: 3rem;
    padding: 1rem;
}

.list-categories__category--well-being {
    color: var(--color-contrast-light);
    background-color: var(--color-category-well-being);
}

.list-categories__category--behavior {
    color: var(--color-contrast-light);
    background-color: var(--color-category-behavior);
}

